
    * {
      padding: 0px;
      margin: 0px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .title {
      color: blue;
      font-size: 25px;
      font-weight: 400;
    }

    body {
      background-image: url("Backgrn.jpg");
    }
    .bdy1 {
      background-color: rgb(238, 238, 238);
    }

    .n1-cont {
      width: 1345px;
      height: 45px;
      background-color: black;
      display: flex;
    }

    .n1 {
      width: 130px;
      height: 38px;
      border: 1px solid silver;
      margin-left: 110px;
    }
    .n2 {
      width: 130px;
      height: 38px;
      border: 1px solid silver;
    }
    .n3 {
      width: 360px;
      height: 38px;
      border: 1px solid silver;
    }
    .n4 {
      width: 70px;
      height: 38px;
      border: 1px solid silver;
    }
    .n2-cont {
      width: 1350px;
      height: 70px;
      background-color: white;
      /* border: 1px solid red; */
      display: flex;
    }
    .n2-div {
      width: 175px;
      height: 60px;
      background-color: white;
      /* border: 1px solid blue; */
      margin: 5px 20px;
    }

    .n2-btn1 {
      width: 85px;
      height: 60px;
      border: hidden;
      margin-left: 450px;
      margin-top: 5px;
      font-weight: 700;
      font-size: 15px;
      background: none;
      position: relative;
    }

    .n2-btn1:hover .buy-drp {
      visibility: visible;
    }
    .n2-btn1:hover {
      color: brown;
      /* border-bottom: 3px solid brown; */
    }
    .n2-btnn:hover {
      color: brown;
      /* border-bottom: 2px solid brown; */
    }
    .n2-btn:hover {
      color: brown;
      /* border-bottom: 2px solid brown; */
    }
    .n2-btn:hover .sell-drp {
      visibility: visible;
    }
    .n2-btn:hover .rent-drp {
      visibility: visible;
    }
    .n2-btnn:hover .find-drp {
      visibility: visible;
    }
    .n2-btnn:hover .news-drp {
      visibility: visible;
    }

    .n2-btnn:hover .contact-drp {
      visibility: visible;
    }
    .buy-drp {
      width: 1348px;
      height: 450px;
      position: absolute;
      left: -665px;
      top: 65px;
      z-index: 1;
      display: flex;
      visibility: hidden;
      border: 1px solid lightgray;
      background-color: white;
    }

    .buy {
      width: 450px;
      height: 400px;
      border: 1px solid blue;
      margin: 5px 10px;
      text-align: start;
    }
    .hrr {
      width: 380px;
      height: 1px;
      color: darkgrey;
      margin-top: -8px;
    }
    .buy h3 {
      color: black;
      font-size: 20px;
      font-weight: 550;
      margin-bottom: 20px;
    }
    .buy h5 {
      color: black;
      font-size: 14px;
      font-weight: 400;
      line-height: 0.5;
    }

    .buy-img {
      width: 320px;
      height: 180px;
    }
    .sell h3 {
      color: black;
      font-size: 20px;
      font-weight: 550;
      margin-bottom: 20px;
      text-align: start;
    }
    .sell h5 {
      color: black;
      font-size: 14px;
      font-weight: 400;
      line-height: 0.5;
      text-align: start;
    }
    .hh5 {
      color: black;
      font-size: 14px;
      font-weight: 400;
      line-height: 0.9;
      text-align: start;
      margin-top: 5px;
    }
    .sell-img {
      width: 400px;
      height: 220px;
      text-align: start;
      border: 1px solid blue;
    }
    .sellimg {
      width: 100%;
      height: 220px;
    }
    .bim {
      width: 100%;
      height: 180px;
    }
    h5 a {
      color: black;
      font-size: 14px;
      font-weight: 400;
      line-height: 0.5;
      text-decoration: none;
    }
    .sell-drp {
      width: 1348px;
      height: 450px;
      position: absolute;
      left: -753px;
      top: 60px;
      z-index: 1;
      display: flex;
      visibility: hidden;
      border: 1px solid lightgray;
      background-color: white;
    }
    .sell {
      width: 450px;
      height: 400px;
      border: 1px solid blue;
      margin: 5px 10px;
    }

    .find-drp {
      width: 1348px;
      height: 390px;
      position: absolute;
      left: -919px;
      top: 60px;
      z-index: 1;
      display: flex;
      visibility: hidden;
      border: 1px solid lightgray;
      background-color: white;
    }

    .rent-drp {
      width: 1348px;
      height: 390px;
      position: absolute;
      left: -836px;
      top: 60px;
      z-index: 1;
      display: flex;
      visibility: hidden;
      border: 1px solid lightgray;
      background-color: white;
    }

    .rent {
      width: 330px;
      height: 340px;
      margin: 5px 5px;
      border: 1px solid blueviolet;
    }

    .rent h3 {
      color: black;
      font-size: 20px;
      font-weight: 550;
      margin-bottom: 20px;
      text-align: start;
    }
    .rent h5 {
      color: black;
      font-size: 14px;
      font-weight: 400;
      line-height: 0.8;
      /* padding-top: 5px; */
      /* letter-spacing: 5px; */
      text-align: start;
    }
    .news-drp {
      width: 1348px;
      height: 320px;
      position: absolute;
      left: -1056px;
      top: 60px;
      z-index: 1;
      display: flex;
      visibility: hidden;
      border: 1px solid lightgray;
      background-color: white;
    }

    .contact-drp {
      width: 1348px;
      height: 380px;
      position: absolute;
      left: -1192px;
      top: 60px;
      z-index: 1;
      display: flex;
      visibility: hidden;
      border: 1px solid lightgray;
      background-color: white;
    }
    .n2-btn {
      width: 80px;
      height: 60px;
      border: none;
      margin: 5px 2px;
      font-weight: 700;
      font-size: 15px;
      position: relative;
      background: none;
    }

    .n2-btnn {
      width: 135px;
      height: 60px;
      border: none;
      margin: 5px 1px;
      font-weight: 700;
      font-size: 15px;
      position: relative;
      background: none;
    }
    .nav3 {
      height: 65px;
      width: 1355px;
      background-color: black;
      position: sticky;
      top: 0;
      display: flex;
      z-index: 1;
    }
    #housesrc {
      width: 180px;
      outline: none;
      border: none;
      height: 50px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-left: 10px;

      background-color: lightgrey;
    }

    .srch-div {
      display: flex;
      width: 230px;
      height: 50px;
      padding: 7px 1px;
      /* margin: 5px 1p; */
    }
    .srch {
      width: 60px;
      height: 50px;
      background-color: brown;
    }

    .btn-opt {
      width: 110px;
      height: 65px;
      border: none;
      background: none;
      color: white;
      position: relative;
      border-right: 1px solid lightgray;
    }

    .btn-optt {
      width: 110px;
      height: 65px;
      border: none;
      background: none;
      color: white;
      position: relative;
      border-right: 1px solid lightgray;
    }
    .btn-opt .frsl {
      width: 250px;
      height: 40px;
      color: black;
      border: 1px solid blue;
    }

    .opt-div {
      width: 250px;
      height: 123px;
      position: absolute;
      top: 66px;
      display: none;
      border: 1px solid red;
      background-color: white;
    }
    .opt-divs {
      width: 300px;
      height: 290px;
      position: absolute;
      top: 66px;
      display: none;
      border: 1px solid red;
      background-color: white;
    }
    .pro-typ h4 {
      color: black;
      margin: 11px 10px;
    }

    .btn-opt:focus .opt-div {
      display: block;
    }
    .btn-optt:focus .opt-divs {
      display: block;
    }
    .btn-opt:focus {
      background-color: brown;
      color: white;
    }
    .btn-opt:hover {
      color: brown;
    }
    .pro-typ {
      width: 300px;
      height: 40px;
      border: 1px solid blue;
      display: flex;
    }
    #chk {
      width: 30px;
      height: 30px;
      margin: 5px 5px;
      border: 1px solid brown;
    }

    .house-div {
      width: 1355px;
      height: 10500px;
      position: relative;
      background-color: white;
      margin: 50px 1px;
    }

    .house-div hr {
      margin-top: 10px;
    }
    .hold {
      display: flex;
    }
    .hold p {
      margin-top: 20px;
      font-size: 17px;
      margin-left: 600px;
    }
    .hold-btn {
      width: 200px;
      height: 50px;
      border-radius: 5px;
      margin: 10px 15px;
      outline: none;
      border: 1px solid lightgray;
    }

    .each-house {
      width: 970px;
      height: 600px;
      border-radius: 7px;
      margin: 30px 20px;
      display: flex;
      border: 1px solid lightgray;
    }

    .house-img {
      width: 570px;
      height: 500px;
      border: 1px solid blue;
      /* position: relative; */
    }

    .info-div {
      width: 400px;
      height: 600px;
      border: 1px solid red;
      /* position: absolute;
    top: 335px;
    left: 590px; */
    }

    .info-div h3 {
      font-size: 21px;
      font-weight: 700px;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 50px;
      padding: 10px 15px;
    }

    .hus-pri{
      font-size: 25px;
      font-weight: 700px;
      padding: 10px 15px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .info-div h4 {
      font-size: 19px;
      font-weight: 100;
      padding: 10px 15px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .lyk{
      width: 100px;
      height: 50px;
      background-color: brown;
      border: none;
      color: white;
      font-size: 19px;
      font-weight: 400;
      margin-top: 10px;
      cursor: pointer;

    }
    
    .pri{
      color: red;
    }
    .desc{
      width: 200px;
      height: 50px;
      background-color: brown;
      border: none;
      color: white;
      font-size: 19px;
      font-weight: 400;
      margin-left: 20px;
      margin-top: 100px;
      cursor: pointer;
    }

    .info-div h5 {
      font-size: 16px;
      font-weight: 100;
      padding: 10px 15px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .agent-btn {
      margin-top: 200px;
      width: 150px;
      height: 50px;
      background-color: brown;
      border: none;
      color: white;
      font-size: 16px;
      margin-left: 150px;
    }

    .house-img img {
      width: 100%;
      height: 100%;
    }
    .under-div {
      width: 550px;
      height: 70px;
      display: flex;
      padding: 10px 10px;
      justify-content: space-between;
      border: 1px solid green;
    }

    .under {
      width: 170px;
      height: 40px;
      color: brown;
      background: none;
      font-size: 17px;
      border: 1px solid lightgrey;
      border-right: none;
      border-top: none;
      border-bottom: none;
      cursor: pointer;
    }
    .underr {
      width: 170px;
      height: 40px;
      color: brown;
      background: none;
      font-size: 17px;
      border: none;
    }

    .ctrl {
      width: 70px;
      height: 70px;
      position: relative;
      bottom: 50;
      left: 1250px;
      cursor: pointer;
      text-align: end;
      border-radius: 100%;
      background-color: lightgray;
      border: 1px solid lightgray;
    }

    .ctrl:focus-within .upp {
      display: block;
    }

    .upp {
      width: 5px;
      height: 5px;
      position: absolute;
      border: lpx solid brown;
      background-color: brown;
      bottom: 10500px;
      display: none;
    }

    .hus1-div {
      width: 1160px;
      height: 3000px;
      margin: 40px 100px;
      background-color: white;
      border: 1px solid lightgrey;
      box-shadow: 5px 5px 10px lightgray;
    }

    .agent-hlder {
      width: 1100px;
      height: 70px;
      display: flex;
      justify-content: space-between;
      margin: 40px 30px;
      /* border: 1px solid blue; */
    }

    .agent-div {
      width: 550px;
      height: 70px;
      margin: 0px 10px;
      display: flex;
      /* border: 1px solid red; */
    }
    .agent-div img{
      width: 110px;
      height: 50px;
      margin: 10px;
      border: 1px solid lightgrey;
    } 
    .agn-name{
      width: 400px;
      height: 50px;
      padding: 10px 5px;
    }

    .agn-name h4{
      margin-top: 6px;
    }

    .agn-name a{
      color: brown;
      cursor: pointer;
      
    }

    .dflx {
      width: 1100px;
      height: 3000px;
      display: flex;
      justify-content: space-around;
      margin: 0px 30px;
      /* border: 1px solid black; */
    }

    .big {
      width: 750px;
      height: 3000px;
      /* border: 1px solid blueviolet; */
    }

    .smal {
      width: 300px;
      height: 3000px;
      /* border: 1px solid blueviolet; */
    }

    .big-img {
      width: 750px;
      height: 400px;
      border: 1px solid red;
    }

    .big-im {
      width: 750px;
      height: 400px;
    }

    .big-img img {
      width: 100%;
      height: 100%;
    }

    .whatsapp {
      width: 750px;
      height: 400px;
      margin: 25px 0px;
      border-radius: 5px;
      box-shadow: 5px 5px 10px lightgrey;
      border: 1px solid lightgrey;
    }
    .prop-detai {
      width: 750px;
      height: 450px;
      margin: 25px 0px;
      border-radius: 5px;
      box-shadow: 5px 5px 10px lightgrey;
      border: 1px solid lightgrey;
    }

    .prop-detai p {
      font-size: 14px;
      margin: 4px 25px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .prop-detai hr {
      width: 720px;
      color: whitesmoke;
      margin: 35px 9px;
    }

    .det {
      width: 748px;
      height: 50px;
      border-top: none;
      border: 1px solid lightgrey;
      background-color: whitesmoke;
    }

    .behind {
      display: flex;
      margin-top: 20px;
    }
    .behind-cont {
      width: 140px;
      height: 130px;
      margin: 3px 5px;
      border: 1px solid lightgray;
    }

    .behind-cont h4 {
      font-size: 13px;
      font-weight: 800;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin: 5px 20px;
    }

    .behind-cont h5 {
      font-size: 15px;
      font-weight: 100;
      margin-top: 65px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    .payment-div {
      width: 750px;
      height: 550px;
      margin: 25px 0px;
      border-radius: 5px;
      box-shadow: 5px 5px 10px lightgrey;
      border: 1px solid lightgrey;
    }

    .payment-option {
      width: 748px;
      height: 40px;
      background-color: rgb(245, 244, 244);
      border-top: none;
      border: 1px solid lightgray;
    }

    .price-div {
      display: flex;
      margin-top: 10px;
    }

    .price1 {
      width: 355px;
      height: 470px;
      border: 1px solid red;
      margin: 1px 5px;
      padding: 1px 8px;
    }
    .price2 {
      width: 355px;
      height: 470px;
      border: 1px solid red;
      margin: 1px 5px;
    }

    .money{
      font-size: 15px;
      margin: 10px 10px;
      padding: 10px 10px;
    }

    .price1 .money{
      font-size: 17px ;
      color: blue;
    }

    .price1 h4 {
      font-size: 16px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      margin: 15px 10px;
    }
    .psent {
      display: inline-flex;
      width: 140px;
      height: 20px;
      border: 1px solid lightgray;
      margin: 2px 5px;
      padding: 10px 10px;
    }

    .year {
      width: 100px;
      height: 20px;
      border: 1px solid lightgray;
      margin: 2px 5px;
      display: inline-flex;
      padding: 10px 10px;
    }

    .peecnt {
      width: 140px;
      display: inline-flex;
      height: 20px;
      border: 1px solid lightgray;
      margin-top: 2px;
      margin-left: 30px;
      padding: 10px 20px;
    }

    .cal {
      width: 70px;
      height: 20px;
      background-color: brown;
      margin: 20px 6px;
      color: white;
      padding: 10px 20px;
    }

    .black-div {
      width: 250px;
      height: 25px;
      background-color: black;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      color: white;
      padding: 20px 40px;
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      margin: 8px 10px;
    }

    .price2 hr {
      width: 327px;

      border: 1px solid lightgrey;
      margin: 5px 10px;
    }

    .pandint {
      font-size: 14px;
      margin-left: 15px;

      font-family: Arial, Helvetica, sans-serif;
    }

    .pandint2 {
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 0px;
      margin-left: -30px;
    }
    .decor {
      width: 330px;
      height: 40px;
      border-radius: 20px;
      background-color: lightgray;
      display: block;
      margin: 10px 12px;
    }
    .dis {
      display: flex;
      width: 330px;
      margin-top: 10px;
      justify-content: space-between;
    }

    .orng {
      width: 100px;
      height: 40px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;

      background-color: rgb(209, 138, 5);
    }

    .darkdip {
      width: 240px;
      height: 40px;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;
      background-color: rgb(139, 138, 138);
    }

    .agnnt-div {
      display: flex;
      width: 740px;
      justify-content: space-between;
    }
    .agnt1 {
      width: 350px;
      height: 200px;
      display: flex;

      border: 1px solid lightgray;
    }

    .agnt1 img {
      width: 190px;
      height: 150px;
      margin: 10px;
      border: 1px solid lightgrey;
    }
    .agnt-name{
      width: 400px;
      height: 50px;
      padding: 10px 5px;
    }

    .agnt-name h4{
      margin-top: 16px;
    }
    .agntt-name h4{
      margin-top: 16px;
      color: blue;
    }
    .agntt-name button{
      width: 100px;
      height: 50px;
      border: none;
      background-color: brown;
      color: white;
      cursor: pointer;
      margin-top: 40px;

    }

    .money-value{
      font-size: 20px;
    }
    .checkot{
      width: 150px;
      height: 50px;
      margin-top: 10px;
      border: 1px solid white;
    }
    #buying{
      color: blue;
      font-size: 17px;

    }
    .agnt-name h6{
      margin-top: 26px;
    }
    
    .agnt-name a{
      color: brown;
    }


    .blak-footer {
      width: 1355px;
      height: 120px;
      background-color: black;
      display: flex;
    }

    .blak-footer p {
      font-size: 23px;
      color: white;
      font-weight: 100;
      margin-top: 45px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 100px;
    }

    .wit-footer {
      width: 1320px;
      height: 500px;
      background-color: white;
      display: flex;
      padding: 20px 20px;
    }

    .wit1-div {
      width: 450px;
      height: 500px;
    }

    .wit2-div {
      width: 800px;
      height: 500px;
      display: flex;
      flex-wrap: wrap;
    }
    .emil {
      width: 600px;
      height: 60px;
      background-color: white;
      display: flex;
      margin-top: 30px;
      border-radius: 10px;
      margin-left: 150px;
    }
    .inpp {
      width: 400px;
      height: 60px;
      outline: none;
      border: none;
      font-size: 18px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .emil button {
      width: 170px;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: 700;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: brown;
      margin-left: 30px;
    }

    .emil button:hover {
      background-color: rgb(77, 75, 75);
    }
    .logo-div {
      width: 400px;
      height: 100px;
      margin: 20px 20px;
    }

    .imgg-lg {
      width: 100%;
      height: 100%;
    }
    .wit1-div p {
      font-family: Arial, Helvetica, sans-serif;
      text-align: justify;
      padding: 1px 15px;
    }

    .wrtin {
      width: 150px;
      height: 230px;
      margin: 10px 15px;
    }
    .wrtin h4 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100;
    }

    .wrtin h5 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      color: brown;
      font-size: 16px;
      margin-top: 20px;
      cursor: pointer;
    }

    .wrtin hr {
      width: 50px;
      height: 4px;
      color: brown;
      background-color: brown;
      border: none;
      margin: 10px 0px;
    }

    .statos-div {
      width: 745px;
      height: 300px;
      margin: 20px 2px;
      border-radius: 4px;
      border: 1px solid lightgray;
    }
    .statos-div h3 {
      font-size: 16px;
      font-weight: 600;
      font-family: Arial, Helvetica, sans-serif;
      margin: 30px 30px;
    }
    .statos-gry {
      width: 745px;
      height: 45px;
      background-color: lightgray;
    }
    .status {
      width: 685px;
      height: 45px;
      background-color: black;
      margin: 0px 30px;
      display: flex;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 600;
    }

    .stato {
      width: 225px;
      padding: 10px 50px;
    }
    .statu {
      width: 225px;
      padding: 10px 50px;
    }

    .status1 {
      width: 683px;
      height: 44px;
      border: 1px solid lightgrey;
      border-top: none;
      margin: 0px 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 200;
      display: flex;
    }

    .status1 p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 200;
      margin: 10px 20px;
    }

    /* .whatsapp button {
      background-color: brown;
      width: 200px;
      height: 30px;
      border: none;
      margin: 20px 20px;
    } */

    .whatsapp h2 {
      font-size: 22px;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 20px;
      margin-top: 10px;
      font-weight: 800;
    }

    .whatsapp h1 {
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      margin-left: 10px;
    }
    .wats1{
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      margin-left: 20px;
    }
    .stattus{
      background: none ;
      width: 100px;
      height: 45px;
      border: none;
      font-size: 18px;
      color: white;
      cursor: pointer;
    }
    .wats4{
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      margin-top: 10px;
      margin-left: 10px;
    }
    .whatsapp h4 {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      margin: 10px 0px;
    }
    .statuss{
      width: 100px;
      height: 45px;
      border: none;
      font-size: 19px;
      color: white;
      margin: 20px 10px;
      background-color: lawngreen;
    }
    .whatsapp h3 {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 300;
      /* margin-left: 20px; */
      display: inline-block;
    }

    .fav-di {
      display: flex;
      margin: 20px 20px;
    }

    .act {
      width: 45px;
      height: 22px;
      border: none;
      background-color: rgb(126, 204, 48);
      color: white;
      padding: 10px 30px;
      margin: 1px 5px;
    }

    .sold {
      width: 51px;
      height: 18px;
      border: none;
      background-color: rgb(60, 174, 240);
      color: white;
      margin: 1px 5px;
      padding: 13px 30px;
      font-size: 13px;
    }

    .btn {
      background: none;
      border: none;
      outline: none;
      color: grey;
    }
    #btnh1 i {
      font-size: 27px;
      margin-top: 1px;
      margin-left: 90px;
      cursor: pointer;
    }
